/* animationStyles.css */


#animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.line {
    position: absolute;
    background-color: #ccc;
}

.vertical-line {
    width: 1px;
    height: 0;
}

.horizontal-line {
    width: 0;
    height: 1px;
}

.node {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ccc;
}